{% extends "base.html" %}
{% block content %}
<div class="container bg-light">

    <h1>Welcome to Puppy Rock!</h1>
    <p>Wanna sign up for our puppy band?</p>
    <a href="{{url_for('signup_form')}}">Sign up for auditions here 🐶 </a>
</div>

<div class="container bg-light">
<h3>To login, please provide a username:</h3>
<br>
<form action="{{url_for('check_username')}}">
<label for="username">Username</label>
<input type="text" name="username">
<input type="submit" value="Submit Form">
</form>
<p>
{% if breed %} 
The breed you entered is {{breed}}
Update it in the form below:
{% else %}
Please enter your breed:
{% endif %}
</p>
<form action="" method="POST">
{{form.hidden_tag()}}
{{form.breed.label}}{{form.breed}}
{{form.submit()}}

</form>

</div>


{% endblock %}